<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<!--
			这里也不需要 
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css"> -->
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app="myToDo">
		<section class="todoapp" ng-controller="mainController">
			<header class="header">
				<h1>todos</h1>
				<!-- 实现输入完文本回车的功能,不用去keydown,直接用表单提交也可以实现相同的功能,
				所以在源代码中添加了一个form元素 -->
				<form ng-submit='add()'>
					<!-- 这里绑定我们的text -->
					<input class="new-todo" placeholder="你想做些什么?" autofocus ng-model='text'>	
				</form>

			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input class="toggle-all" type="checkbox" >
				<label for="toggle-all" ng-click="toggleAll()">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->

					<!-- List items should get the class `editing` when editing and `completed` when marked as completed
					每一个li在它被编辑的时候要去获取editing这个类,在它完成的时候要去获取completed这个类 -->
					<li ng-repeat="todo in toDos" ng-class="{completed:todo.completed,editing:todo.id===currentEditingId}"><!-- 这里绑定数据里面的完成,当todos数据里为true的时候会添加一个completed类-->
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed">
													<!-- 绑定的也是completed,为true的时候单项按钮会打钩 -->
							<label ng-dblclick="editing(todo.id)">{{todo.text}}</label>
							<!-- 绑定的是你输入进去的值 -->
							<button class="destroy" ng-click="remove(todo.id)"></button>
						</div>
						<form ng-submit="save()">
							<input class="edit" ng-model="todo.text">
							<!-- 这边是你展示的text -->
						</form>
					</li>
					
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{toDos.length}}</strong> 个项目</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click="clear()" ng-show="completeds()">清除完成项目</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!-- 这里不需要
		<script src="node_modules/todomvc-common/base.js"></script> -->
		<!-- 引包 -->
		<script src="node_modules/angular/angular.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
